<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
    <p th:text="'Status: '"/>
    <form>
      <input name="start" type="button" value="Connect"/>
      <input name="stop" type="button" value="Disconnect"/>
      <input name="disable-dispatch-all" type="button" value="Disable scheduled dispatch to all"/>
      <input name="enable-dispatch-all" type="button" value="Enable scheduled dispatch to all"/>
      <input name="dispatch-user" type="button" value="Dispatch to user"/>
    </form>

    <script src="/js/jquery-3.5.1.js" type="text/javascript"></script>
    <script src="/js/sockjs.min.js" type="text/javascript"></script>
    <script src="/js/stomp.min.js" type="text/javascript"></script>
    <script src="/js/main.js" th:inline="javascript" type="text/javascript"></script>
    <script>
      $(function() {
        $("input[type=button][name=start]").click(function() {
          connect("[[${stompDestination}]]", "[[${_csrf.headerName}]]", "[[${_csrf.token}]]", $("p"));
        });

        $("input[type=button][name=disable-dispatch-all]").click(function() {
          $.get( "disable-scheduled-dispatch-to-all");
        });

        $("input[type=button][name=enable-dispatch-all]").click(function() {
          $.get( "enable-scheduled-dispatch-to-all");
        });

        $("input[type=button][name=dispatch-user]").click(function() {
          $.get( "dispatch-to-user?username=jane");
        });
      });
    </script>
</body>
</html>
